$colors: (
  "primary": #247ba0,
  "focus": #70c1b3,
  "light": #b2dbbf,
  "strong": #ff1654,
  "palid": #f3ffbd,
  "white": #fff,
  "dark": #333
);
$distances: (
  "sm": 0.5rem,
  "md": 1rem,
  "lg": 2rem
);
$position: (
  "left": left,
  "center": center,
  "right": right
);
$opacity: (
  "01": 0.1,
  "02": 0.2,
  "03": 0.3,
  "04": 0.4,
  "05": 0.5,
  "06": 0.6,
  "07": 0.7,
  "08": 0.8,
  "09": 0.9
);
$border-width: (
  "1": 1px,
  "2": 2px,
  "3": 3px,
  "4": 4px
);
$border-round: (
  "2": 2px,
  "4": 4px,
  "6": 6px,
  "8": 8px,
  "10": 10px,
  "12": 12px,
  "15": 15px,
  "20": 20px
);
// font-sizes
$font-sizes: (
  "xlg": 2.5rem,
  "lg": 1.8rem,
  "md": 1.2rem,
  "sm": 0.8rem
);

// screen sizes
$lg-size: 1100px;
$md-size: 900px;
$sm-size: 500px;
